body {
	background: #333;
}

.__navbar {
	background: transparent;
	border-radius: 0px;
	border: none;
	border-bottom: 1px solid white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0px;
	width: 100%;
	margin: 0 auto;
	z-index: 5000;
}

@media (min-width: 768px) {
	.__navbar {
		width: 700px;
	}
}

@media (min-width: 992px) {
	.__navbar {
		width: 950px;
	}
}

@media (min-width: 1200px) {
	.__navbar {
		width: 1000px;
	}
}

.__navbar .navbar-header .navbar-brand {
	display: block;
	padding: 0px;
	width: 50px;
	margin-top: 0px;
	overflow: hidden;
}

.__navbar .navbar-header .navbar-brand img {
	display: block;
	width: 100%;
	height: 100%;
}

.__navbar .nav-container .navbar-nav {
	margin-top: 15px;
}

.__navbar .nav-container .navbar-nav > li {
	margin: 0px 10px;
}

.__navbar .nav-container .navbar-nav > li > a {
	padding: 0px;
	color: white;
}

.__navbar .nav-container .navbar-nav > li > a:hover,
.__navbar .nav-container .navbar-nav > li > a:focus,
.__navbar .nav-container .navbar-nav > li > a:active {
	color: #d3d8da;
}

@media (max-width: 768px) {
	.__navbar .nav-container {
		position: fixed;
		background: white;
		height: 100%;
		left: 0;
		width: 250px;
		box-shadow: 2px 0px 15px 0 rgba(0,0,0, .25);
		z-index: 9999;
		top: 0;
		-webkit-transform: translateX(-250px);
		-ms-transform: translateX(-250px);
		-o-transform: translateX(-250px);
		transform: translateX(-250px);
		-webkit-transition: all ease-out 300ms;
		-o-transition: all ease-out 300ms;
		transition: all ease-out 300ms;
	}

	.__navbar .nav-container.open {
		-webkit-transform: translateX(0px);
		-ms-transform: translateX(0px);
		-o-transform: translateX(0px);
		transform: translateX(0px);
	}

	.__navbar .navbar-header .navbar-brand {
		padding: 0px;
		margin-left: 20px;
	}

	.__navbar .nav-container .navbar-nav {
		padding: 20px 0px;
		margin: 0px;
	}

	.__navbar .nav-container .navbar-nav > li {
		display: block;
		float: none;
		margin: 5px 10px;
	}

	.__navbar .nav-container .navbar-nav > li > a {
		padding: 10px 10px;
		color: #333;
	}

	.__navbar .nav-container .navbar-nav > li > a:hover,
	.__navbar .nav-container .navbar-nav > li > a:focus,
	.__navbar .nav-container .navbar-nav > li > a:active {
		color: white;
		background: #333;
	}
}
/*end navbar style*/

.header {
	display: block;
	width: 100%;
	height: 100vh;
	background-image: url(../img/header_img.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0 ;
	position: relative;
}

.header .intro {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 400px;
	text-align: center;
}

.header .intro img {
	display: block;
	width: 150px;
	height: 100px;
	margin: auto;
}

.header .intro .description {
	font-family: "sarina", sans-serif;
	font-style: normal;
	font-weight: 400;
	display: block;
	color: white;
	text-align: center;
}

.header .intro .description:before,
.header .intro .description:after {
	display: block;
	height: 20px;
	content: "";
}

.header .intro .intro_btn {
	display: block;
	width: 125px;
	height: 50px;
	text-align: center;
	line-height: 45px;
	color: white;
	border: 1px solid white;
	background-color: transparent;
	border-radius: 500px;
	margin: 0 auto;
	outline: none;
	overflow: hidden;
}

.header .intro .intro_btn span {
	display: inline-block;
	position: relative;
	-webkit-transition: all ease-out 5ms;
	-o-transition: all ease-out 5ms;
	transition: all ease-out 5ms;
}

.header .intro .intro_btn .fa {
	display: inline-block;
	position: relative;
	-webkit-transition: all ease-out 5ms;
	-o-transition: all ease-out 5ms;
	transition: all ease-out 5ms;
}

.header .intro .intro_btn:hover,
.header .intro .intro_btn:focus {
	background-color: white;
	color: black;
}













